/*chumbo: #5B5B5B*/
/*baunilha: #FFF6D5*/
/*azul: #88B6C9*/

.banner-top {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.img-perfil {
    border-radius: 80%;
    margin: 30px;
    width: 300px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.56);
}

#card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 100%;

    background-color: #FFF6D5;
}

#card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    position: relative;
    height: 348px;
    width: 250px;
    margin: 35px;
    perspective: 1000px;
    box-shadow: 0 13px 15px 5px rgba(0,0,0,0.84);
}

.card .flip {
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card:hover .flip{
    transform: rotateY(180deg);
}

.front-card, .back-card{
    position: absolute;
    backface-visibility: hidden;
}

.back-card{
    transform: rotateY(180deg);
}

.front-card img, .back-card img{
    border-radius: 12px;
    box-shadow: 0 13px 15px 5px rgba(0,0,0,0.84);
}

.footer {
    background-color: white;
    color: #5B5B5B;
    width:100%;
    display: flex;
    justify-content: center;
}

.img-footer{
    width: 50px;
    padding-left: 30px;
    padding-bottom: 5px;
}
